<template>
  <div class="index-page">
    <!-- <c-banner></c-banner> -->
    <div class="container">
      <c-meet></c-meet>
      <div class="margin"></div>
      <c-treasure-box></c-treasure-box>
      <div class="margin"></div>
      <c-tab></c-tab>
      <c-rank v-show="!showPkList"></c-rank>
      <c-rank-pk v-show="showPkList"></c-rank-pk>
      <c-bottom-rule></c-bottom-rule>
    </div>
  </div>
</template>

<script>
import { getSign } from "../api";
import coreBus from "@mi/milive-ui/utils/event-bus";
import CBanner from "../components/c-banner.vue";
import CMeet from "../components/c-meet.vue";
import CTab from "../components/c-tab.vue";
import CRank from "../components/c-rank.vue";
import CRankPk from "../components/c-rank-pk.vue";
import CBottomRule from "../components/c-bottom-rule.vue";
export default {
  name: "IndexPage",
  components: {
    CTreasureBox: () => import("../components/c-treasure-box.vue"),
    CBanner,
    CMeet,
    CTab,
    CRank,
    CBottomRule,
    CRankPk,
  },
  data() {
    return {
      showPkList: false,
    };
  },
  mounted() {
    coreBus.$on("changeTab", this.changeTabAction);
    getSign();
  },
  methods: {
    changeTabAction(tab = {}) {
      this.showPkList = tab.isPK;
    },
  },
  destroyed() {
    coreBus.$off("changeTab", this.changeTabAction);
  },
};
</script>

<style lang="scss" scoped>
@import "../../__common/css/base.scss";
.index-page {
  background-color: #3b0060;
  .container {
    box-sizing: border-box;
    padding: 0 38px;
    margin-top: -400px;
  }
  .margin {
    width: 100%;
    height: 90px;
  }
}
.webps .index-page {
}
</style>
