<template>
  <div class="index-page">
    <c-banner :type="1"></c-banner>
    <div class="container">
      <div class="header"></div>
      <c-rank :rankType="1"></c-rank>
    </div>
    <div class="footer" v-if="anchorInfo">
      <div class="footer-avatar">
        <c-avatar
          :avatarData="{
            uid: anchorInfo.uid,
            avatar: anchorInfo.avatar,
            roomId: null,
            width: '150',
            height: '150',
          }"
        ></c-avatar>
      </div>
      <div class="footer-info">
        <p>贡献值：{{ anchorInfo.score }}</p>
        <p>排名：{{ anchorInfo.rank }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import coreBus from "@mi/milive-ui/utils/event-bus";
import CBanner from "../components/c-banner.vue";
import CRank from "../components/c-rank.vue";
import { getUserInfo } from "../api";
export default {
  components: {
    "c-avatar": () => import("../../__common/components/avatar/c-avatar.vue"),
    CBanner,
    CRank,
  },
  data() {
    return {
      anchorInfo: null,
    };
  },
  mounted() {
    this._getUserInfo();
    coreBus.$emit("changeTab", {});
  },
  methods: {
    async _getUserInfo() {
      const param = {
        rankType: 5,
      };
      let res = await getUserInfo(param);
      console.log(res);
      if (res.code == 0) {
        this.anchorInfo = res.data.anchorInfo || {};
        if (this.anchorInfo.rank == -1) {
          this.anchorInfo.rank = "--";
        }
      }
    },
  },
  destroyed() {},
};
</script>

<style lang="scss" scoped>
@import "../../__common/css/base.scss";
.index-page {
  background-color: #3b0060;
  // padding-bottom: 50px;
  width: 100vw;
  .container {
    box-sizing: border-box;
    padding: 0 38px;
    margin-top: -400px;
    position: relative;
    width: 100%;
    .header {
      position: absolute;
      top: -46px;
      width: 1004px;
      height: 92px;
      background: url("../assets/images/bg-header-contribute.png") 0 0/100%
        no-repeat;
      z-index: 3;
    }
  }
  .footer {
    margin-top: 41px;
    width: 100%;
    height: 206px;
    background: linear-gradient(-68deg, #f4cdfd 0%, #fbe8ff 53%, #f4cdfd 100%);
    display: flex;
    // justify-content: space-between;
    align-items: center;
    &-avatar {
      width: 152px;
      height: 152px;
      margin-left: 80px;
      position: relative;
    }
    &-info {
      margin-left: 40px;
      font-size: 34px;
      font-family: MI Lan Pro;
      font-weight: 400;
      color: #570288;
      line-height: 54px;
    }
  }
}
</style>
