<template>
    <div :class="[newVersion? 'newVersion-n': 'pd-wrap-n']">

    </div>
</template>

<script>
    import {checkAppVersionIsNew, isIOS} from '../api.js';

    export default {
        name: 'pdAnchorNormal',
        data() {
            return {
                newVersion: true,
                isIos: isIOS(),   // 判断是否是ios
            }
        },
        mounted() {
            this.newVersion = checkAppVersionIsNew();
        },
        computed: {},
        components: {},
        methods: {
        }
    }
</script>

<style lang="scss">
    @import "../../__common/css/base.scss";
    @import "../assets/css/common.scss";

    #__vconsole {
        display: none !important;
    }

    .pd-wrap-n {
        @include commonPd;
        background: url(../assets/images/pd-anchor-n.png) 0 0 / 100% auto no-repeat;
    }

    .newVersion-n {
        @include commonPd;
        background: url(../assets/images/pd-anchor-new-n.png) 0 0 / 100% auto no-repeat;
    }

    .webps .pd-wrap-n {
        background: url(../assets/images/pd-anchor-n.webp) 0 0 / 100% auto no-repeat;
    }

    .webps .newVersion-n {
        background: url(../assets/images/pd-anchor-new-n.webp) 0 0 / 100% auto no-repeat;
    }
</style>


