<template>
    <div>
        <div v-show="anchorInfo.rank==-1" :class="[newVersion? 'newVersion-n': 'pd-wrap-n']">

        </div>
        <div v-show="anchorInfo.rank!=-1" :class="[newVersion? 'newVersion': 'pd-wrap']">
            <p :class="['', {'ios-sty': isIos}]"><span>{{title}}</span></p>
            <p>排名: {{anchorInfo.rank}}</p>
            <p>情缘值: {{anchorInfo.score}}</p>
            <!-- 当为第一名时，隐藏 -->
            <p v-show="!isFirst">距上名: {{anchorInfo.lastGap}}</p>
        </div>
    </div>
</template>

<script>
    import {checkAppVersionIsNew, isIOS,getAnchorInfo,getStageInfo} from '../api.js';
    import { getTodayTab,changeTabDateWithStartTime} from "../config/tabData";

    export default {
        name: 'pdAnchor',
        data() {
            return {
                newVersion: true,
                timer: null,      // 轮询接口定时器
                isIos: isIOS(),   // 判断是否是ios
                title:'--',
                isFirst: false,
                // isSign: false,
                tabData:{},
                anchorInfo: {
                    rank:-1,
                },   // 主播阶段比赛信息
            }
        },
        mounted() {
            this.initDate()
            this.newVersion = checkAppVersionIsNew();
        },
        computed: {},
        components: {},
        methods: {
            // 获取当前赛段,并取得 当前tabDate
            async initDate(){
               let res = await getStageInfo()
               changeTabDateWithStartTime(res.data.startTime);
               this.tabData = getTodayTab(res.data.stage)
                this.pollingApi();
            },
            /**
             * 轮询接口
             */
            pollingApi() {
                if (this.timer) clearTimeout(this.timer);
                this.timer = setTimeout(this.pollingApi, 5000);
                this.getData();
                this.getTitle()
            },
            async getData() {
                let that = this;
                let res = await getAnchorInfo();
                that.isFirst=false
                if (res && res.code == 0) {
                    that.anchorInfo = res.data.anchorInfo;
                    // that.isSign = res.data.isSign;
                    // if(that.anchorInfo.rank==-2){
                    //     that.anchorInfo.rank='--'
                    // }
                    if(that.anchorInfo.rank==1){
                        that.isFirst=true
                    }
                    if(that.anchorInfo.lastGap==-1){
                        that.anchorInfo.lastGap='--'
                    }
                }

            },
            async getTitle(){
                this.title=`--`
                if (this.tabData&&this.tabData.name) {
                    if(this.tabData.name=='相守'){
                        this.tabData.mainTitle='12决5'
                    }
                    this.title=`${this.tabData.name} (${this.tabData.mainTitle})`
                }
            },
        }
    }
</script>

<style lang="scss">
    @import "../../__common/css/base.scss";
    @import "../assets/css/common.scss";

    #__vconsole {
        display: none !important;
    }

    .pd-wrap {
        @include commonPd;
        background: url(../assets/images/pd-anchor.png) 0 0 / 100% auto no-repeat;

        p {
            text-align: center;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            color: #FFFFFF;
            font-size: __vw(22, $oldW);
            line-height: __vh(24, $oldH);

            span {
                color: #FFE500;
            }
        }

        p:nth-of-type(1) {
            margin-top: __vh(135, $oldH);
        }

        p:nth-of-type(2) {
            margin-top: __vh(32, $oldH);
        }

        p:nth-of-type(3) {
            padding: __vh(12, $oldH) __vw(12, $oldW);
            background: #7700B6;
            margin-top: __vh(13, $oldH);
        }

        p:nth-of-type(4) {
            margin-top: __vh(17, $oldH);
        }

        .ios-sty p {
        }
    }

    .newVersion {
        @include commonPd;
        background: url(../assets/images/pd-anchor-new.png) 0 0 / 100% auto no-repeat;

        p {
            text-align: center;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            color: #FFFFFF;
            font-size: __vw(27, $newW);
            line-height: __vh(32, $newH);
            height: __vh(27, $newH);

            span {
                color: #FFE500;
            }
        }

        p:nth-of-type(1) {
            margin-top: __vh(103, $newH);
        }

        p:nth-of-type(2) {
            margin-top: __vh(27, $newH);
            margin-bottom: __vh(10, $newH);
        }

        p:nth-of-type(3) {
            padding: __vh(16, $newH) __vw(28, $newW);
            background: #7700B6;
        }

        p:nth-of-type(4) {
            margin-top: __vh(16, $newH);
        }

        .ios-sty p {
        }
    }

    .pd-wrap-n {
        @include commonPd;
        background: url(../assets/images/pd-anchor-n.png) 0 0 / 100% auto no-repeat;
    }

    .newVersion-n {
        @include commonPd;
        background: url(../assets/images/pd-anchor-new-n.png) 0 0 / 100% auto no-repeat;
    }

    .webps .pd-wrap-n {
        background: url(../assets/images/pd-anchor-n.webp) 0 0 / 100% auto no-repeat;
    }

    .webps .newVersion-n {
        background: url(../assets/images/pd-anchor-new-n.webp) 0 0 / 100% auto no-repeat;
    }

    .webps .pd-wrap {
        background: url(../assets/images/pd-anchor.webp) 0 0 / 100% auto no-repeat;
    }

    .webps .newVersion {
        background: url(../assets/images/pd-anchor-new.webp) 0 0 / 100% auto no-repeat;
    }
</style>


