<template>
    <div :class="[newVersion? 'newVersion': 'pd-wrap']">
        <div class="meet">
            <div class="meet-head">
                <div class="meet-head-flower"></div>
                <div v-show="meetData.sendId==-1" class="take-seat"></div>
                <c-location v-show="meetData.sendId!=-1" class="avatarWrap"
                            :avatarData="{uid: meetData.sendId, roomId: null}">
                    <c-avatar
                            :avatarData="{uid: meetData.sendId, roomId: null, width: '120', height: '120'}"></c-avatar>
                </c-location>
            </div>
            <div class="meet-heart"></div>
            <div class="meet-head">
                <div class="meet-head-flower anchor"></div>
                <div v-show="meetData.receiveId==-1" class="take-seat"></div>
                <c-location v-show="meetData.receiveId!=-1" class="avatarWrap"
                            :avatarData="{uid: meetData.receiveId, roomId: null}">
                    <c-avatar
                            :avatarData="{uid: meetData.receiveId, roomId: null, width: '120', height: '120'}"></c-avatar>
                </c-location>
            </div>
        </div>
    </div>
</template>

<script>
    import {checkAppVersionIsNew, getGiftRecord} from '../api.js';

    export default {
        name: 'pdMeet',
        components: {
            "c-location": () => import('../../__common/components/location/c-location.vue'),
            "c-avatar": () => import('../../__common/components/avatar/c-avatar.vue'),
        },
        data() {
            return {
                newVersion: true,
                timer: null,      // 轮询接口定时器
                meetData: {
                    "msg": "",
                    "sendId": -1,
                    "receiveId": -1,
                    "sendName": "",
                    "receiveName": "",
                    "roomId": "",
                    "sendTime": 0
                }
            }
        },
        mounted() {
            this.newVersion = checkAppVersionIsNew();
            this.pollingApi();
        },
        computed: {},
        methods: {
            /**
             * 轮询接口
             */
            pollingApi() {
                if (this.timer) clearTimeout(this.timer);
                this.timer = setTimeout(this.pollingApi, 5000);
                this.getData();
            },
            async getData() {
                let that = this;
                let ret = await getGiftRecord();
                // let ret = JSON.parse('{"code":0,"data":{"guardTime":0,"records":[]}}')
                if (ret.code == 0) {
                    if (ret.data && ret.data.records && ret.data.records.length > 0) {
                        this.meetData = ret.data.records[0];
                    } else {
                        this.meetData = {
                            "msg": "",
                            "sendId": -1,
                            "receiveId": -1,
                            "sendName": "",
                            "receiveName": "",
                            "roomId": "",
                            "sendTime": 0
                        }
                    }
                }
            }
        }
    }
</script>

<style lang="scss">
    @import "../../__common/css/base.scss";
    @import "../assets/css/common.scss";

    #__vconsole {
        display: none !important;
    }

    .pd-wrap {
        @include commonPd;
        background: url(../assets/images/pd-meet.png) 0 0 / 100% auto no-repeat;

        .meet {
            width: __vw(191, $oldW);
            height: __vh(75, $oldH);
            margin: __vh(200, $oldH) auto 0;
            display: flex;
            align-items: center;

            &-heart {
                width: __vw(25.4, $oldW);
                height: __vh(20.8, $oldH);
                background: url(../assets/images/icon-pd-meet-love.png) 0 0 / 100% auto no-repeat;
                margin: 0 __vw(4.5, $oldW);
            }

            &-head {
                position: relative;
                width: __vw(78, $oldW);
                height: __vh(75, $oldH);

                &-flower {
                    position: relative;
                    z-index: 5;
                    width: __vw(78, $oldW);
                    height: __vh(75, $oldH);
                    background: url(../assets/images/icon-pd-meet-user.png) 0 0 / 100% auto no-repeat;
                }

                &-flower.anchor {
                    background: url(../assets/images/icon-pd-meet-anchor.png) 0 0 / 100% auto no-repeat;
                }

                @mixin headWrap {
                    position: absolute;
                    width: __vw(63.9, $oldW);
                    height: __vh(63.9, $oldH);
                    border: 3px solid #CECECE;
                    border-radius: 50%;
                    top: 50%;
                    left: 50%;
                    transform: translateY(-50%) translateX(-50%);
                }

                .take-seat {
                    @include headWrap;
                    background: url(../assets/images/take-seat.png) 0 0 / 100% auto no-repeat;
                }

                .avatarWrap {
                    @include headWrap;
                }
            }
        }
    }

    .newVersion {
        @include commonPd;
        background: url(../assets/images/pd-meet-new.png) 0 0 / 100% auto no-repeat;

        .meet {
            width: __vw(248, $newW);
            height: __vh(99, $newH);
            margin: __vh(196, $newH) auto 0;
            display: flex;
            align-items: center;

            &-heart {
                width: __vw(25.4, $newW);
                height: __vh(20.8, $newH);
                background: url(../assets/images/icon-pd-meet-love.png) 0 0 / 100% auto no-repeat;
                margin: 0 __vw(7, $newW);
            }

            &-head {
                position: relative;
                width: __vw(104, $newW);
                height: __vh(99, $newH);

                &-flower {
                    position: relative;
                    z-index: 5;
                    width: __vw(104, $newW);
                    height: __vh(99, $newH);
                    background: url(../assets/images/icon-pd-meet-user.png) 0 0 / 100% auto no-repeat;
                }

                &-flower.anchor {
                    background: url(../assets/images/icon-pd-meet-anchor.png) 0 0 / 100% auto no-repeat;
                }

                @mixin headWrap {
                    position: absolute;
                    width: __vw(84.7, $newW);
                    height: __vh(84.7, $newH);
                    border: 3px solid #CECECE;
                    border-radius: 50%;
                    top: 50%;
                    left: 50%;
                    transform: translateY(-50%) translateX(-50%);
                }

                .take-seat {
                    @include headWrap;
                    background: url(../assets/images/take-seat.png) 0 0 / 100% auto no-repeat;
                }

                .avatarWrap {
                    @include headWrap;
                }
            }
        }
    }

    .webps .pd-wrap {
        background: url(../assets/images/pd-meet.webp) 0 0 / 100% auto no-repeat;
    }

    .webps .newVersion {
        background: url(../assets/images/pd-meet-new.webp) 0 0 / 100% auto no-repeat;
    }
</style>


