<template>
    <div @click="judgeGoto()">
        <div v-show="!pkShow" :class="[newVersion? 'newVersion-n': 'pd-wrap-n']">

        </div>
        <div v-show="pkShow" :class="[newVersion? 'newVersion': 'pd-wrap']">
            <div class="anchor-top">
                <div class="anchor-head">
                    <c-avatar :avatarData="{uid: pkInfo.firstId, roomId: null, width: '120', height: '120'}"></c-avatar>
                    <div :class="getStatus(true)"></div>
                </div>
                <div class="anchor-info">
                    <p class="anchor-name">{{pkInfo.firstName}}</p>
                    <p class="anchor-score">{{pkInfo.firstScore}}</p>
                </div>
            </div>
            <div class="count-down">{{timeStr}}</div>
            <div class="anchor-bottom">
                <div class="anchor-info">
                    <p class="anchor-score">{{pkInfo.secondScore}}</p>
                    <p class="anchor-name">{{pkInfo.secondName}}</p>
                </div>
                <div class="anchor-head">
                    <c-avatar
                            :avatarData="{uid: pkInfo.secondId, roomId: null, width: '120', height: '120'}"></c-avatar>
                    <div :class="getStatus(false)"></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import consts, {checkAppVersionIsNew, isIOS, getPKInfo, _pdDownTime, getTime} from '../api.js';

    export default {
        name: 'pdPk',
        components: {
            "c-avatar": () => import('../../__common/components/avatar/c-avatar.vue'),
        },
        data() {
            return {
                newVersion: true,
                timer: null,      // 轮询接口定时器
                isIos: isIOS(),   // 判断是否是ios
                pkShow: false,
                timeStr: '',
                pkInfo: {
                    groupNum: 1,
                    firstId: -1,
                    secondId: -1,
                    firstName: '',
                    secondName: '',
                    firstScore: 0,
                    secondScore: 0,
                    pkStatus: -1,
                },
            }
        },
        mounted() {
            this.newVersion = checkAppVersionIsNew();
            this.pollingApi();
            window.addEventListener('message', event => {
                if (event.data.from == 'miH5' && event.data.type == 'click') {
                    this.judgeGoto()
                }
            })
        },
        computed: {},
        methods: {
            /**
             * 轮询接口
             */
            pollingApi() {
                if (this.timer) clearTimeout(this.timer);
                this.timer = setTimeout(this.pollingApi, 5000);
                let that = this;
                this._getPkInfo(async () => {
                    let res = await _pdDownTime();
                    that.timeStr = res.str;
                    // console.log(that.timeStr)
                }, async () => {
                    let res = await getTime();
                    if (res && res.code == 0) {
                        let nowDate = new Date(res.data.t)
                        let nowMinute = nowDate.getMinutes();
                        let startMinute = (that.pkInfo.groupNum % 6) * 10
                        let dta = nowMinute - startMinute
                        if (dta >= 0 && dta < 1) {
                            that.pkShow = true
                            that.timeStr = '00:00'
                        } else {
                            that.pkInfo.pkStatus = -1
                            that.pkShow = false
                        }
                    }
                });
            },
            getStatus(isFirst) {
                //pk-status-win
                //pk-status-nice
                //pk-status-failure
                if (this.pkInfo.pkStatus == 0) {
                    if (isFirst) {
                        if ((this.pkInfo.firstScore > this.pkInfo.secondScore)) {
                            return 'pk-status-nice'
                        }
                    } else {
                        if ((this.pkInfo.firstScore < this.pkInfo.secondScore)) {
                            return 'pk-status-nice'
                        }
                    }
                } else if (this.pkInfo.firstScore > this.pkInfo.secondScore) {
                    if (isFirst) {
                        return 'pk-status-win'
                    } else {
                        return 'pk-status-failure'
                    }
                } else if (this.pkInfo.firstScore < this.pkInfo.secondScore) {
                    if (!isFirst) {
                        return 'pk-status-win'
                    } else {
                        return 'pk-status-failure'
                    }
                }
            },
            async _getPkInfo(pking, pkend) {
                let that = this;
                let params = {
                    // day: d.format('yyyyMMdd'),
                };
                let res = await getPKInfo(params);
                if (res.code == 0) {
                    if (res.data && res.data.PkInfo) {
                        that.pkInfo = res.data.PkInfo;
                        if (that.pkInfo.pkStatus == 0) {
                            pking();
                            that.pkShow = true
                        } else {
                            pkend();
                        }
                    }
                } else {
                    that.pkShow = false
                }
            },
            judgeGoto() {
                let that = this;

                if (that.pkInfo.pkStatus == 0) {

                    if (Number(consts.zuid) === Number(that.pkInfo.firstId)) {
                        window.location.href = `walilive://room/join?liveid=${that.pkInfo.secondRoomId}&playerid=${that.pkInfo.secondId}&query_room_info=false`;
                    } else {
                        window.location.href = `walilive://room/join?liveid=${that.pkInfo.firstRoomId}&playerid=${that.pkInfo.firstId}&query_room_info=false`;
                    }
                } else {
                    //todo 测试环境
                    // window.location.href = "walilive://bottom_url/bottomweb?url=http%3A%2F%2Fdev.hyfe.zb.g.mi.com%2Flive-actv4%2Fstaging%2F2021qiXi%2Findex.html%23%2F%3FshowPK%3D1&sharable=false&height=81p";
                    //预线上
                    window.location.href = "walilive://bottom_url/bottomweb?url=http%3A%2F%2Fdev.hyfe.zb.g.mi.com%2Flive-actv4%2Fpreview%2Fpreview-2021qiXi%2Findex.html%23%2F%3FshowPK%3D1&sharable=false&height=81p";
                    //线上
                    //  window.location.href = "walilive://bottom_url/bottomweb?url=https%3A%2F%2Fstatic.g.mi.com%2Flive%2Factv4%2F2021qiXi%2Findex.html%23%2F%3FshowPK%3D1&sharable=false&height=81p";
                }
            },
        }
    }
</script>

<style lang="scss">
    @import "../../__common/css/base.scss";
    @import "../assets/css/common.scss";

    #__vconsole {
        display: none !important;
    }

    .pd-wrap {
        @include commonPd;
        background: url(../assets/images/pd-pk.png) 0 0 / 100% auto no-repeat;

        .count-down {
            width: __vw(117, $oldW);
            height: __vh(39, $oldH);
            background: url(../assets/images/bg-count-timer.png) 0 0 / 100% auto no-repeat;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%);
            color: #210748;
            font-size: __vw(25, $oldW);
            line-height: __vh(39, $oldH);
            font-weight: bold;
            text-align: center;
        }

        .anchor-name {
            max-width: __vw(108, $oldW);
            font-size: __vw(22, $oldW);
            line-height: __vh(38, $oldH);
        }

        .anchor-score {
            max-width: __vw(108, $oldW);
            font-size: __vw(24, $oldW);
            line-height: __vh(38, $oldH);
        }

        .anchor-head {
            position: relative;
            width: __vw(60, $oldW);
            height: __vh(60, $oldH);
            border-radius: 50%;
            border: __vw(2, $oldW) solid #CA4AFF;
        }

        @mixin pk-status-base {
            width: __vw(51, $oldW);
            height: __vh(24, $oldH);
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: __vh(-3, $oldH);
        }

        .pk-status-win {
            @include pk-status-base;
            background: url(../assets/images/icon-pk-status-win.png) 0 0 / 100% auto no-repeat;
        }

        .pk-status-failure {
            @include pk-status-base;
            background: url(../assets/images/icon-pk-status-failure.png) 0 0 / 100% auto no-repeat;
        }

        .pk-status-nice {
            @include pk-status-base;
            background: url(../assets/images/icon-pk-status-nice.png) 0 0 / 100% auto no-repeat;
        }

        p {
            color: #FFFFFF;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        .ios-sty p {
        }

        .anchor-top {
            display: flex;
            margin: __vh(70, $oldH) __vw(10, $oldW) 0;
            align-items: center;
            justify-content: flex-start;

            .anchor-info {
                margin-left: __vw(13, $oldW);
            }
        }

        .anchor-bottom {
            display: flex;
            margin: __vh(78, $oldH) __vw(10, $oldW) 0;
            align-items: center;
            justify-content: flex-end;

            .anchor-info {
                margin-right: __vw(13, $oldW);
            }
        }
    }

    .newVersion {
        @include commonPd;
        background: url(../assets/images/pd-pk-new.png) 0 0 / 100% auto no-repeat;

        .count-down {
            width: __vw(140, $newW);
            height: __vh(47, $newH);
            background: url(../assets/images/bg-count-timer-new.png) 0 0 / 100% auto no-repeat;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%);
            color: #210748;
            font-size: __vw(28, $newW);
            line-height: __vh(47, $newH);
            font-weight: bold;
            text-align: center;
        }

        .anchor-name {
            max-width: __vw(150, $newW);
            font-size: __vw(22, $newW);
            line-height: __vh(38, $newH);
        }

        .anchor-score {
            max-width: __vw(150, $newW);
            font-size: __vw(26, $newW);
            line-height: __vh(38, $newH);
        }

        .anchor-head {
            position: relative;
            width: __vw(65, $newW);
            height: __vh(65, $newH);
            border-radius: 50%;
            border: __vw(2, $newW) solid #CA4AFF;
        }

        @mixin pk-status-base {
            width: __vw(51, $newW);
            height: __vh(24, $newH);
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: __vh(-3, $newH);
        }

        .pk-status-win {
            @include pk-status-base;
            background: url(../assets/images/icon-pk-status-win.png) 0 0 / 100% auto no-repeat;
        }

        .pk-status-failure {
            @include pk-status-base;
            background: url(../assets/images/icon-pk-status-failure.png) 0 0 / 100% auto no-repeat;
        }

        .pk-status-nice {
            @include pk-status-base;
            background: url(../assets/images/icon-pk-status-nice.png) 0 0 / 100% auto no-repeat;
        }

        p {
            color: #FFFFFF;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        .ios-sty p {
        }

        .anchor-top {
            display: flex;
            margin: __vh(62, $newH) __vw(15, $newW) 0;
            align-items: center;
            justify-content: flex-start;

            .anchor-info {
                margin-left: __vw(18, $newW);
            }
        }

        .anchor-bottom {
            display: flex;
            margin: __vh(85, $newH) __vw(15, $newW) 0;
            align-items: center;
            justify-content: flex-end;

            .anchor-info {
                margin-right: __vw(18, $newW);
            }
        }
    }

    .pd-wrap-n {
        @include commonPd;
        background: url(../assets/images/pd-pk-n.png) 0 0 / 100% auto no-repeat;

        p {
        }

        .ios-sty p {
        }
    }

    .newVersion-n {
        @include commonPd;
        background: url(../assets/images/pd-pk-new-n.png) 0 0 / 100% auto no-repeat;

        p {
        }

        .ios-sty p {
        }
    }

    .webps .pd-wrap-n {
        background: url(../assets/images/pd-pk-n.webp) 0 0 / 100% auto no-repeat;
    }

    .webps .newVersion-n {
        background: url(../assets/images/pd-pk-new-n.webp) 0 0 / 100% auto no-repeat;
    }

    .webps .pd-wrap {
        background: url(../assets/images/pd-pk.webp) 0 0 / 100% auto no-repeat;
    }

    .webps .newVersion {
        background: url(../assets/images/pd-pk-new.webp) 0 0 / 100% auto no-repeat;
    }
</style>


