<template>
    <div  :class="[newVersion? 'newVersion': 'pd-wrap']">

    </div>
</template>

<script>
    import { checkAppVersionIsNew } from '../api.js';

    export default {
        name: 'pdTask',
        data () {
            return {
                newVersion: true,
            }
        },
        created () {

        },
        mounted () {
            this.newVersion = checkAppVersionIsNew();
        },
        computed: {

        },
        components: {

        },
        methods: {

        }
    }
</script>

<style lang="scss">
    @import "../../__common/css/base.scss";
    @import "../assets/css/common.scss";
    #__vconsole {
        display: none !important;
    }

    .pd-wrap {
        @include commonPd;
        background: url(../assets/images/pd-warm.png) 0 0 / 100% auto no-repeat;
    }

    .newVersion{
        @include commonPd;
        background: url(../assets/images/pd-warm-new.png) 0 0 / 100% auto no-repeat;
    }

    .webps .pd-wrap{
        background: url(../assets/images/pd-warm.webp) 0 0 / 100% auto no-repeat;
    }

    .webps .newVersion{
        background: url(../assets/images/pd-warm-new.webp) 0 0 / 100% auto no-repeat;
    }
</style>


