<template>
  <div class="test"></div>
</template>

<script>
export default {};
</script>

<style>
.test {
  width: 100vw;
  height: 100vh;
  background: url(../assets/images/bg-meet.png) 50% 50% / cover no-repeat;
}
</style>
