<template>
    <div class='task'>

        <div @click="close()" :class="['btn btn-login', {'btn-arrive': taskList.tasks[0].status}]">
            {{taskList.tasks[0].status? '已完成': '去完成'}}
        </div>

        <div @click="close()" :class="['btn btn-look', {'btn-arrive': taskList.tasks[1].status}]">
            {{taskList.tasks[1].status? '已完成': '去观看'}}
        </div>

        <div @click="goRecharge(taskList.tasks[2].status)" :class="['btn btn-recharge', {'btn-arrive': taskList.tasks[2].status}]">
            {{taskList.tasks[2].status? '已完成': '去充值'}}
        </div>

        <!--互动-->
        <div class="txt-each">({{taskList.msgCount|| 0}}/10)</div>
        <div @click="close()" :class="['btn btn-each', {'btn-arrive': taskList.msgCount >= 10}]">{{taskList.msgCount >=
            10? '已完成' : '去互动'}}
        </div>

        <!--星票贡献 -->
        <div class="txt-contribute">({{contributeNum|| 0}}/10)</div>
        <div @click="goReward(contributeNum>=10)" :class="['btn btn-contribute', {'btn-arrive': contributeNum >= 10}]">
            {{contributeNum >= 10? '已完成' : '去贡献'}}
        </div>


    </div>
</template>

<script>
    import consts, {getTask} from '../api.js';
    import coreBus from '@mi/milive-ui/utils/event-bus';

    export default {
        name: 'taskPage',
        data() {
            return {
                taskList: {tasks: [{status: 0}, {}, {status: 0}], msgCount: 0},
                contributeNum: 0,
            }
        },
        components: {},
        mounted() {
            let that = this;
            that._getTask();
        },
        methods: {
            async _getTask() {
                let that = this;
                let res = await getTask();
                if(res && res.code === 0){
                    that.taskList = res.data;
                    let retnum=Math.floor(that.taskList.tasks[3].taskUserContribute/that.taskList.tasks[3].targetScore)
                    if(retnum>=10){
                        that.contributeNum=10
                    }else {
                        that.contributeNum=retnum
                    }
                }
            },
            goRecharge(status) {
                if (!status) {
                    window.location.href = 'walilive://recharge';
                }
            },
            close() {
                let ca = window.clientApi;

                setTimeout(function () {
                    ca && ca.goBack(function (data) {

                    });
                }, 0)
            },
            goReward(status) {
                if (!status) {
                    if (consts.uuid === consts.zuid) {
                        coreBus.$emit('MiLive-UI:tips', {'msg': '自己不能打赏自己喔'});
                    } else {
                        this.close();
                        window.location.href = 'walilive://gift/show_gift_mall?mall_type=0';
                    }
                }
            },
        },
    }
</script>

<style lang="scss" scoped>
    @import "../../__common/css/base.scss";

    .task {
        margin: 0 auto;
        width: 811px;
        height: 1126px;
        background: url(../assets/images/bg-task.png) 0 0 / 100% auto no-repeat;
        position: relative;

        .txt-each {
            position: absolute;
            font-size: 36px;
            color: #fff;
            line-height: 41px;
            left: 400px;
            top: 837px;
        }

        .txt-contribute {
            position: absolute;
            font-size: 36px;
            color: #fff;
            line-height: 41px;
            left: 480px;
            top: 947px;
        }

        .btn {
            width: 162px;
            height: 71px;
            border-radius: 36px;
            color: #150034;
            font-size: 33px;
            text-align: center;
            line-height: 70px;
            position: relative;
            left: 610px;
            //background: linear-gradient(90deg,rgba(248,144,67,1) 0%,rgba(237,82,52,1) 100%);
            background: linear-gradient(0deg, #FF59AB 0%, #FFCF63 100%);
        }

        .btn-arrive {
            background: #CE30CF;
        }

        .btn-login {
            top: 465px;
        }

        .btn-look {
            top: 515px;
        }

        .btn-recharge {
            top: 560px;
        }

        .btn-each {
            top: 605px;
        }

        .btn-contribute {
            top: 645px;
        }
    }

    .webps .task {
        background: url(../assets/images/bg-task.webp) 0 0 / 100% auto no-repeat;
    }
</style>



