<template>
  <div class="index-page">
      <c-router-btn :styleObject="style1" @click.native="$router.go(-1)" v-if="hasBack"
      >返回</c-router-btn>
    <div class="banner"></div>
    <div class="tab" :class="{'is-anchor' : !isUser}">
      <div class="left" @click="isUser = false"></div>
      <div class="right" @click="isUser = true"></div>
    </div>
    <div class="user" v-if="isUser">
      <img v-for="item in 3" :src="item  | ruleUrl('user',isSupWebp)"></img>
    </div>
    <div class="anchor" v-else>
      <img v-for="item in 3" :src="item  | ruleUrl('anchor',isSupWebp)"></img>
    </div>
  </div>
</template>

<script>
import CRouterBtn from '../components/c-router-btn.vue';
export default {
  components: {
    CRouterBtn,
  },
  filters:{
    ruleUrl(index,type,isSupWebp){
       return require(`../assets/images/rule/rule-${type}0${index}.${isSupWebp ? 'webp' :'jpg'}`)
    }
  },
  data(){
    return{
      isSupWebp:false,
      isUser:false,
      hasBack: false,
      style1: {
        top: `${34 / 108}rem`,
      },
    }
  },
  mounted(){
    this.isSupWebp = this.isSupportWebp()
    this.hasBack = this.$route.query && this.$route.query.from === "index";
  },
  methods: {
    isSupportWebp() {
      try {
        return document.createElement('canvas').toDataURL('image/webp', 0.5).indexOf('data:image/webp') === 0;
      } catch (err) {
        return false;
      }
    }

  }
};
</script>

<style lang="scss" scoped>
.index-page{
    background-color: #3b0060;
    min-height: 100vh;
}
.banner {
  margin: 0 auto;
  width: 1080px;
  height: 2100px;
  background: url(../assets/images/rule/rule-bg.jpg) 0 0 / 100% auto no-repeat;
}
.tab {
  margin: 0 auto;
  width: 1080px;
  height: 157px;
  position: relative;
  background: url(../assets/images/rule/rule-select-user.png) 0 0 / 100% auto no-repeat;
  .left{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
  }
  .right{
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
  }
  &.is-anchor{
     background: url(../assets/images/rule/rule-select-anchor.png) 0 0 / 100% auto no-repeat;
  }
}
.webps .banner{
  background: url(../assets/images/rule/rule-bg.webp) 0 0 / 100% auto no-repeat;
}
.webps .tab{
  background: url(../assets/images/rule/rule-select-user.webp) 0 0 / 100% auto no-repeat;
  &.is-anchor{
     background: url(../assets/images/rule/rule-select-anchor.webp) 0 0 / 100% auto no-repeat;
  }
}

</style>
