/*多渠道登录弹窗*/
.login_alert_info {
    width: 780px;
    padding-top: 780px;
    background: #eee;
    background-size: 100%;
    border-radius: .5rem;
    position: absolute;
    margin-left: 14.351851851851852%;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    -webkit-transform: translate3d(0, -50%, 0);
}

.login_alert_confirm {
    width: 71.29629629629629%;
    padding-top: 40.27777777777778%;
    background: white;
    background-size: 100%;
    border-radius: .5rem;
    position: absolute;
    margin-left: 15.694444444444444%;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    -webkit-transform: translate3d(0, -50%, 0);
}

.login_alert {
    width: 66.66666666666666%;
    padding-top: 64.81481481481481%;
    background: #eee;
    background-size: 100%;
    border-radius: .5rem;
    position: absolute;
    margin-left: 16.666666666666666%;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    -webkit-transform: translate3d(0, -50%, 0);
}

.login_close_con {
    position: absolute;
    width: 12.987012987012986%;
    padding-top: 12.987012987012986%;
    background-size: 100%;
    top: 0%;
    right: 0%;
    z-index: 10000;
}

.login_close {
    position: absolute;
    top: 40%;
    right: 40%;
    background: url(../images/login/close_normal_new.png) no-repeat center;
    width: 34%;
    padding-top: 34%;
    background-size: 100%;
    z-index: 10000;
}

.login_alert .login_title {
    position: absolute;
    top: 0;
    left: 0;
    margin: 19.5% 0%;
    font-size: 48px;
}

.login_title {
    width: 100%;
    display: block;
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
    font-size: 1.4814814814814814rem;
}

.login_btn {
    width: 122.77%;
    position: absolute;
    left: 0;
    top: 30%;
    background-color: #ff7023;
    color: rgba(0, 0, 0, .8);
    font-size: 1.975rem;
    padding: 5.714% 0%;
    ;
    text-align: center;
    box-sizing: border-box;
    margin: 0 -10%;
    border-radius: 4rem;
    transform: scale(0.5);
}

.login_btn:active {
    background-color: #e66520;
}

.login_btn_is_wx {
    background: #1dbf28;
}

.login_btn_is_wx:active {
    background: #19a622;
}

.login_other {
    width: 100%;
    position: absolute;
    top: 69.57142857142858%;
    left: 0;
    color: #5091D3;
    font-size: 0.9876543209876543rem;
    text-align: center;
    margin: 7.571429% 0% 14.376623% 0%;
}

.icon_login {
    display: block;
    float: left;
    margin-left: 13%;
    width: 13.559322033898305%;
    margin-right: 6%;
}

.login_btn p {
    display: inline-block;
    margin-left: -15%;
    color: white;
}

.icon_mi {
    display: block;
    width: 100%;
    padding-top: 2.76546rem;
    background: url('../images/login/icon_mi.png') no-repeat center;
    background-size: 100%;
}

.p_mi {
    line-height: 2.7654rem;
    font-size: 72px;
}

.p_wx {
    line-height: 2.96296rem;
    color: white;
    font-size: 72px;
}

.icon_wx {
    display: block;
    width: 100%;
    padding-top: 2.96296rem;
    background: url('../images/login/icon_wx.png') no-repeat center;
    background-size: 100%;
}

.login_btn_bottom {
    display: inline-block;
    /*font-weight: 100;*/
    font-size: 48px;
}

.login_btn_bottom:active {
    opacity: .9;
}

.quit_cancel,
.quit_confirm_btn {
    /*font-weight: 100;*/
}

.confirm_quit {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 15.064935064935064% auto;
    font-size: 1.1851851851851851rem;
    color: #202020;
    text-align: center;
}

.quit_btn_con {
    width: 100%;
    position: absolute;
    top: 68.73563218390805%;
    left: 0%;
    border-top: 1px solid rgba(0, 0, 0, .1);
    box-sizing: border-box;
}

.quit_cancel:active {
    background-color: #f2f2f2;
    border-radius: 0rem 0rem 0rem .5rem;
}

.quit_confirm_btn:active {
    background-color: #f2f2f2;
    border-radius: 0rem 0rem .5rem 0rem;
}

.quit_btn_con div {
    box-sizing: border-box;
    width: 50%;
    display: block;
    float: left;
    text-align: center;
    line-height: 3.3333333333333335rem;
    font-size: 1.037037037037037rem;
    color: rgba(0, 0, 0, .7);
}

.quit_btn_con div:nth-of-type(1) {
    border-right: 1px solid rgba(0, 0, 0, .1)
}

.download_float_bar {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4.444444444444445rem;
    background-color: rgba(0, 0, 0, .8);
    z-index: 9999;
}

.dfb_icon {
    width: 10.925925925925926%;
    margin: 2.8703703703703703% 1.8518518518518517%;
    background-size: 100%;
    float: left;
}

.dfb_icon img {
    width: 100%;
    height: 100%;
    background: url('../images/login/image_logo.png')center no-repeat;
}

.dfb_text {
    width: 35.18518518518518%;
    float: left;
    color: white;
    margin: 3.333333333333333% auto 3.7037037037037035%;
}

.dfb_text p:nth-of-type(1) {
    font-size: 1.0864197530864197rem;
    line-height: 1.4rem;
}

.dfb_desription {
    font-size: 0.8395061728395061rem;
    line-height: 1.4rem;
    opacity: .8;
}

.dfb_open_btn {
    box-sizing: border-box;
    float: right;
    width: 22.685185185185186%;
    text-align: center;
    line-height: 2.123456790123457rem;
    margin: 4.4444444444444446% 1.8518518518518517% 4.4444444444444446% 0;
    border: 1px solid white;
    border-radius: 2rem;
    color: white;
}

.dfb_open_btn:active {
    opacity: .5;
}

.dfb_btn {
    box-sizing: border-box;
    float: right;
    width: 22.685185185185186%;
    padding: 0 1.0740740740740744%;
    text-align: center;
    line-height: 2.123456790123457rem;
    margin: 4.4444444444444446% 1.8518518518518517% 4.4444444444444446% 0;
    border: 1px solid #FF2966;
    border-radius: 2rem;
    color: #FF2966;
}

.dfb_btn:active {
    opacity: .5;
}

/*end*/
/*UI改版*/
.login {
    position: absolute;
    top: 3.45679012345679rem;
    /*right:-14.5%;*/
    right: 0;
    background: white;
    width: 4.395061728395062rem;
    z-index: 9999;
    border-radius: 2rem 0 0 2rem;
    line-height: 2.049382716049383rem;
    height: 2.049382716049383rem;
    box-sizing: border-box;
    display: block;
    text-align: center;
}

.loggedin {
    width: 2.493827160493827rem;
}

.loggedin .user_img_con {
    width: 94%;
    height: 94%;
}

.user_img_con {
    display: inline-block;
    vertical-align: bottom;
    box-sizing: border-box;
    position: relative;
    width: 47.752808988764045%;
    padding-top: 47.752808988764045%;
    background-size: 100% 100%;
    border-radius: 1rem 1rem 1rem 1rem;
    float: left;
}

.user_img_con img {
    border-radius: 50%;
    height: 85.64705882352941%;
    position: absolute;
    margin: 7.2%;
    top: 0;
    left: 0;
}

.login p {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50%;
    vertical-align: middle;
    color: rgba(0, 0, 0, .7);
    font-size: 0.888888888rem;
    text-align: center;
    line-height: 2.049382716049383rem;
    transform: translate3d(0, -50%, 0);
    -webkit-transform: translate3d(0, -50%, 0);
}

.login_btn_fixed {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}