<template>
  <div class="app">
    <router-view></router-view>
    <MTip></MTip>
  </div>
</template>

<script>
import MTip from "@mi/milive-ui/components/MTip/index";
Vue.use(MTip);

export default {
  name: "app",
  data() {
    return {};
  },

  mounted() {},

  methods: {},

  components: {},
};
</script>

<style lang="scss">
html,
body {
  // height: 100%;
  overflow-x: hidden;
}
</style>
