<template>
  <div class="banner">
    <template v-if="type === 0">
      <c-router-btn :styleObject="style1" @click.native="jumpRule"
        >活动规则</c-router-btn
      >
      <c-router-btn :styleObject="style2" @click.native="jumpContributionRank"
        >最强贡献</c-router-btn
      >
    </template>
    <c-router-btn :styleObject="style1" @click.native="back" v-if="hasBack"
      >返回</c-router-btn
    >
  </div>
</template>

<script>
import CRouterBtn from "./c-router-btn.vue";
export default {
  components: {
    CRouterBtn,
  },
  props: {
    type: {
      type: Number,
      default: 0, // 0 首页  1 最强贡献  2 规则页
    },
  },
  data() {
    return {
      hasBack: false,
      style1: {
        top: `${34 / 108}rem`,
      },
      style2: {
        top: `${121 / 108}rem`,
      },
    };
  },
  mounted() {
    this.hasBack = this.$route.query && this.$route.query.from === "index";
  },
  methods: {
    jumpContributionRank() {
      this.$router.push("/contribution?from=index");
    },
    jumpRule() {
      this.$router.push("/warm?from=index");
    },
    back() {
      this.$router.go(-1);
    },
  },
};
</script>

<style lang="scss" scoped>
.banner {
  // position: relative;
  // z-index: 0;
  margin: 0 auto;
  width: 1080px;
  height: 1938px;
  background: url(../assets/images/bg-banner.png) 0 0 / 100% auto no-repeat;
}
.webps .banner {
  background: url(../assets/images/bg-banner.webp) 0 0 / 100% auto no-repeat;
}
</style>
