<template functional>
  <div class="bottom-rule">
    <p>特别提示：</p>
    <br />
    <p>1、活动仅限签约主播参加；</p>
    <p>2、活动暂不支持口令、电台和游戏直播间；</p>
    <p>3、恶意刷票的主播将被取消参赛资格；</p>
    <p>4、银钻奖励在活动结束后的7个工作日内下发。</p>
  </div>
</template>

<style>
.bottom-rule {
  margin-top: 40px;
  padding-bottom: 50px;
  font-size: 32px;
  font-family: MI Lan Pro;
  font-weight: 400;
  color: #dca8f8;
  line-height: 48px;
  opacity: 0.7;
}
</style>
