<template>
  <div class="meet">
    <swiper class="swiper" :options="swiperOption">
      <swiper-slide v-for="(item, index) in recordList" :key="index">
        <div class="swiper-item">
          <div class="left">
            <div class="avatar">
              <div class="take-seat" v-if="showSeat"></div>
              <c-location
                :avatarData="{ uid: item.sendId }"
                v-else-if="item.sendId"
              >
                <c-avatar
                  :avatarData="{
                    uid: item.sendId,
                    roomId: '',
                    width: '215',
                    height: '215',
                  }"
                ></c-avatar>
              </c-location>
              <div class="photo-frame"></div>
            </div>

            <p class="name" v-if="!showSeat && item.sendName">
              <span class="user-label">用户</span>
              <span>{{ item.sendName }}</span>
            </p>
          </div>
          <div class="center"></div>
          <div class="right">
            <div class="avatar">
              <div class="take-seat" v-if="showSeat"></div>
              <c-location
                :avatarData="{ uid: item.receiveId, roomId: item.roomId }"
                v-else-if="item.receiveId"
              >
                <c-avatar
                  :avatarData="{
                    uid: item.receiveId,
                    roomId: item.roomId,
                    width: '215',
                    height: '215',
                  }"
                ></c-avatar>

                <img
                  class="live-status"
                  v-if="item.roomId"
                  src="../assets/images/live-status.png"
                />
              </c-location>
              <div class="photo-frame"></div>
            </div>
            <p class="name" v-if="!showSeat && item.receiveName">
              <span class="user-label liver">主播</span>
              <span>{{ item.receiveName }}</span>
            </p>
          </div>
        </div>
      </swiper-slide>
      <div
        class="swiper-pagination"
        slot="pagination"
        v-show="recordList.length > 1"
      ></div>
    </swiper>
  </div>
</template>

<script>
const myutil = require("../config/mi.util.js");
import { swiper, swiperSlide } from "vue-awesome-swiper";
import "swiper/dist/css/swiper.css";
import { getGiftRecord } from "../api";

export default {
  components: {
    "c-location": () =>
      import("../../__common/components/location/c-location.vue"),
    "c-avatar": () => import("../../__common/components/avatar/c-avatar.vue"),
    swiper,
    swiperSlide,
  },
  data() {
    return {
      recordList: [{}],
      showSeat: false,
      swiperOption: {
        autoplay: false, // 自动轮播
        // speed: 1000,   // 轮播速度
        slidesPerView: 1,
        spaceBetween: 30,
        loop: false,
        on: {
          slideChange: () => {
            myutil.simulationScroll();
          },
        },
        // 显示分页
        pagination: {
          el: ".swiper-pagination",
          clickable: true, //允许分页点击跳转
        },
      },
    };
  },
  mounted() {
    this._getGiftRecord();
  },
  methods: {
    async _getGiftRecord() {
      let recordData = await getGiftRecord();
      if (recordData.code === 0) {
        this.recordList = recordData.data.records || [];
      }
      if (this.recordList.length === 0) {
        this.showSeat = true;
        this.recordList = [{}];
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../../__common/css/base.scss";
/deep/ .swiper-pagination .swiper-pagination-bullet {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgba($color: #a71cff, $alpha: 0.5);
  opacity: 0.5;
  margin: 0 15px;
}

/deep/ .swiper-pagination .swiper-pagination-bullet-active {
  width: 25px;
  height: 25px;
  background: #a71cff;
  border-radius: 50%;
  opacity: 1;
}
.meet {
  // position: relative;
  margin: 0 auto;
  width: 100%;
  height: 581px;

  background: url(../assets/images/bg-meet.png) 0 0 / 100% auto no-repeat;
  .swiper {
    display: flex;
    padding-top: 100px;
    &-item {
      width: 1006px;
      height: 480px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
      padding: 30px 100px 120px 100px;
      .left,
      .right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 300px;
        .avatar {
          width: 265px;
          height: 252px;
          position: relative;
          padding: 20px;
          box-sizing: border-box;
          .take-seat {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 215px;
            height: 215px;
            transform: translate(-50%, -50%);
            background: url(../assets/images/take-seat.png) 0 0/ 100% auto no-repeat;
          }
          .live-status {
            position: absolute;
            top: 38px;
            right: 8px;
            width: 49px;
            height: 49px;
            z-index: 20;
          }
          .photo-frame {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
          }
        }
        .avatar-wrap {
          position: relative;
        }
        .name {
          font-size: 34px;
          font-family: MI Lan Pro;
          font-weight: 400;
          color: #ffffff;
          margin-top: 28px;
          width: 100%;
          text-align: center;
          @include one-line;
          .user-label {
            display: inline-block;
            padding: 8px 12px 8px 18px;
            background: #6ab0ff;
            border-radius: 22px 16px 0px 22px;
            font-size: 24px;
            font-family: MI Lan Pro;
            font-weight: 400;
            color: #150034;
            &.liver {
              background-color: #ff559d;
            }
          }
        }
      }
      .center {
        width: 107px;
        height: 87px;
        margin: 0 63px;
        background: url(../assets/images/icon-love.png) 0 0 / 100% auto
          no-repeat;
      }
      .left {
        .avatar .photo-frame {
          background: url(../assets/images/photo-frame-user.png) 0 0 / 100% auto
            no-repeat;
        }
      }
      .right {
        .avatar .photo-frame {
          background: url(../assets/images/photo-frame-liver.png) 0 0 / 100%
            auto no-repeat;
        }
      }
    }
  }
}
.webps .meet {
  background: url(../assets/images/bg-meet.webp) 0 0 / 100% auto no-repeat;
}
</style>
