<template>
  <div class="pk-liver">
    <div class="avatar">
      <c-location
        class="avatar-wrap"
        :avatarData="{ uid: anchorInfo.uid, roomId: anchorInfo.roomId }"
      >
        <c-avatar
          :avatarData="{
            uid: anchorInfo.uid,
            roomId: anchorInfo.roomId,
            width: '455',
            height: '364',
          }"
        ></c-avatar>
        <div class="avatar-mask" v-if="anchorInfo.showPKStatus">
          <div class="pk-status" :class="anchorInfo.pkStatusClass" />
        </div>
      </c-location>
    </div>
    <div class="name">
      <span>{{ anchorInfo.name }}</span>
      <img
        class="live-status"
        v-if="anchorInfo.roomId"
        src="../assets/images/live-status.png"
      />
    </div>
    <div class="love-value">
      {{ anchorInfo.score ? `情缘值：${anchorInfo.score}` : " " }}
    </div>
  </div>
</template>

<script>
export default {
  components: {
    "c-location": () =>
      import("../../__common/components/location/c-location.vue"),
    "c-avatar": () => import("../../__common/components/avatar/c-avatar.vue"),
  },
  props: {
    anchorInfo: {
      type: Object,
      default: {},
    },
  },
};
</script>

<style lang="scss" scoped>
.pk-liver {
  width: 100%;

  font-size: 36px;
  .avatar {
    width: 100%;
    height: 364px;
    position: relative;
    &-wrap {
      border-radius: 0;
      width: 455px;
      height: 364px;
      object-fit: cover;
    }
    &-mask {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.5);
      .pk-status {
        position: absolute;
        width: 160px;
        height: 141px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        &.success {
          background: url(../assets/images/icon-success.png) 0 0 /100% no-repeat;
        }
        &.fail {
          background: url(../assets/images/icon-fail.png) 0 0 /100% no-repeat;
        }
        &.draw {
          background: url(../assets/images/icon-draw.png) 0 0 /100% no-repeat;
        }
      }
    }
  }
  .name {
    margin-top: 31px;
    font-family: PingFang SC;
    font-weight: 500;
    .live-status {
      display: inline-block;
      width: 32px;
      height: 32px;
      margin-left: 3px;
    }
  }

  .love-value {
    margin-top: 11px;
    margin-bottom: 38px;
    height: 30px;
    font-weight: 400;
    font-family: MI Lan Pro;
  }
}
</style>
