<template>
  <ul class="rank-content" :class="{ 'contribute-content': rankType === 1 }">
    <li class="rank-content-th" v-if="rankType === 0">
      <p class="td">排名</p>
      <p class="td">主播&最强贡献</p>
      <p class="td">昵称</p>
      <p class="td">情缘值</p>
    </li>
    <li class="rank-content-td" v-for="(item, index) in rankList" :key="index">
      <!-- 排名 -->
      <div class="td score-anchor">
        <div v-if="index < 3" class="top" :class="`top${index + 1}`"></div>
        {{ index >= 3 ? index + 1 : "" }}
      </div>

      <div class="td avatar-anchor">
        <c-location
          class="avatar-Anchor"
          :avatarData="{ uid: item.uid, roomId: item.roomId }"
        >
          <c-avatar
            :avatarData="{
              uid: item.uid,
              roomId: item.roomId,
              avatar: item.avatar,
              width: '139',
              height: '139',
            }"
          ></c-avatar>
        </c-location>

        <img
          class="live-status"
          v-if="item.roomId"
          src="../assets/images/live-status.png"
        />

        <div
          class="assist"
          v-if="item.assistList && item.assistList.length && rankType === 0"
        >
          <c-location
            class="assist-Anchor"
            :avatarData="{ uid: item.assistList[0].assistUid }"
          >
            <c-avatar
              :avatarData="{
                uid: item.assistList[0].assistUid,
                width: '70',
                height: '70',
              }"
            ></c-avatar>
          </c-location>
        </div>
      </div>

      <!-- 主播榜单 -->
      <template v-if="rankType === 0">
        <div class="td rank-name">
          {{ item.nickname || "" }}
        </div>
        <div class="td rank-money">{{ item.score }}</div>
      </template>

      <!-- 最强贡献榜单 -->
      <template v-if="rankType === 1">
        <div class="td contribute-name">
          <p class="name">
            {{ item.nickname || "" }}
          </p>
          <div class="score">
            <span>贡献值：</span>
            <span>{{ item.score }}</span>
          </div>
        </div>
        <div class="td rank-follow">
          <c-follow
            :followData="{
              isFollow: item.isFollow,
              zuid: item.uid,
              uuid: consts.uuid,
              st: consts.st,
            }"
            :class="['follow', item.isFollow ? 'user-followed' : 'user-follow']"
          >
            {{ item.isFollow ? "已关注" : "关注" }}
          </c-follow>
        </div>
      </template>
    </li>
    <li
      v-show="rankList && (rankList.length > requestNum || hasMore)"
      :class="['btn-view-more', hasMore ? 'btn-open' : 'btn-close']"
      @click="loadMore"
    ></li>
    <li v-if="!rankList || rankList.length == 0" class="noData-wrap">
      <div class="noData-text">{{ isRequesting ? "加载中" : "暂无数据" }}~</div>
    </li>
  </ul>
</template>

<script>
import consts from "../api";
import coreBus from "@mi/milive-ui/utils/event-bus";
import { getRankList } from "../api";
import { getTodayTab } from "../config/tabData";
export default {
  name: "rank",
  props: {
    requestNum: {
      type: Number,
      default: 10,
    },
    rankType: {
      type: Number,
      default: 0, // 0 主播榜单 1 贡献榜单
    },
  },
  data() {
    return {
      consts,
      rankList: [],
      hasMore: false,
      showMoreBtn: true,
      isRequesting: false,
      currentIndex: 1,
      currentTabData: {},
      todayTab: null,
    };
  },
  components: {
    "c-location": () =>
      import("../../__common/components/location/c-location.vue"),
    "c-avatar": () => import("../../__common/components/avatar/c-avatar.vue"),
    "c-follow": () => import("../../__common/components/follow/c-follow.vue"),
  },
  created() {
    coreBus.$on("changeTab", this.loadListData);
    coreBus.$on("refreshFollow", this.loadListData);
  },
  methods: {
    // 初始化并加载数据
    loadListData(tab = {}, todayTab) {
      this.todayTab = todayTab;
      this.currentTabData = tab;
      if (!tab.isPK) {
        this.currentIndex = 1;
        this.hasMore = false;
        this.getRankDataList(tab, this.currentIndex);
      }
    },
    async getRankDataList(tabData, pageIndex) {
      let rankName = "total";
      if (this.todayTab && this.todayTab.stage !== tabData.stage) {
        // 除了当天 的rankName 是 total  其他日期都是 total_stage
        rankName = `total_${tabData.stage}`;
      }
      const requestNum = this.requestNum * pageIndex + 2;
      const rankType = this.rankType === 0 ? 1 : 5; // 0 日榜单 1 总榜单 5 贡献榜单
      const params = {
        n: requestNum,
        rankType: rankType,
        needContribute: true,
        rankName,
        needFollow: this.rankType === 0 ? false : true,
      };
      this.isRequesting = true;
      const res = await getRankList(params);
      this.isRequesting = false;

      // 防止切换tab 数据错乱
      if (this.currentTabData.id === tabData.id) {
        const rankList = res.data.rank;

        this.hasMore = rankList.length > this.requestNum * pageIndex;
        this.rankList = this.hasMore
          ? rankList.splice(0, this.requestNum * pageIndex)
          : rankList;
      }
    },
    loadMore() {
      if (this.hasMore) {
        if (this.isRequesting) return; // 防止用户多次点击
        //加载更多
        this.getRankDataList(this.currentTabData, ++this.currentIndex);
      } else {
        // 收起
        // this.hasMore = true;
        // this.rankList = this.rankList.splice(0, 10);
        this.loadListData(this.currentTabData);
      }
    },
  },
  destroyed() {
    coreBus.$off("changeTab", this.loadListData);
    coreBus.$off("refreshFollow", this.loadListData);
  },
};
</script>

<style lang="scss" scoped>
@import "../../__common/css/base.scss";
.rank-content {
  width: 100%;
  background: rgba($color: #a900ff, $alpha: 0.54);
  position: relative;
  font-family: MI Lan Pro;
  padding: 40px 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  &-th,
  &-td {
    .td:nth-child(1) {
      flex: 1;
      margin: 0 50px 0 20px;
    }
    .td:nth-child(2) {
      flex: 2;
      text-align: left;
      margin-right: 30px;
      margin-left: 20px;
    }
    .td:nth-child(3) {
      flex: 2;
      text-align: left;
    }
    .td:nth-child(4) {
      flex: 1.5;
    }
  }
  &-th {
    width: 100%;
    display: flex;
    font-size: 36px;
    font-weight: 400;
    color: #e7baff;
    line-height: 29px;
    text-align: center;
  }
  &-td {
    display: flex;
    // justify-content: flex-start;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 20px;
    color: #ffffff;

    .score-anchor {
      width: 46px;
      height: 64px;
      font-size: 36px;
      display: flex;
      align-items: center;
      justify-content: center;

      .top {
        width: inherit;
        height: inherit;
      }

      @for $i from 1 through 3 {
        .top#{$i} {
          background: url(../assets/images/top#{$i}.png)
            0
            0 /
            100%
            auto
            no-repeat;
        }
      }
    }

    .avatar-anchor {
      text-align: left;
      position: relative;
      .avatar-Anchor {
        box-sizing: border-box;
        width: 141px;
        height: 141px;
        padding: 4px;
        border-radius: 50%;
        border: 2px solid #e7baff;
      }

      .live-status {
        width: 32px;
        height: 32px;
        position: absolute;
        top: 0;
        left: 92px;
      }

      .assist {
        position: absolute;
        bottom: 0;
        left: 115px;

        &-Anchor {
          width: 70px;
          height: 70px;
          border-radius: 50%;
        }
      }
    }

    .rank-name {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 36px;
      font-weight: 500;
    }

    .rank-money {
      text-align: center;
      font-size: 36px;
      font-weight: 500;
      color: #ffea75;
    }

    .contribute-name {
      font-size: 36px;
      color: #ffffff;
      font-weight: 500;

      .name {
        width: 300px;
        margin-bottom: 27px;
        @include one-line;
      }
      .score {
        span:nth-child(2) {
          color: #ffea75;
        }
      }
    }
    .rank-follow {
      .follow {
        width: 199px;
        height: 84px;
        font-size: 36px;
        color: #150034;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 44px;
        font-weight: 500;
      }
      .user-follow {
        background: #f2e6ff;
      }
      .user-followed {
        background: rgba($color: #f2e6ff, $alpha: 0.3);
      }
    }
  }

  .btn-view-more {
    width: 142px;
    height: 54px;
    margin: 0 auto;

    &.btn-open {
      background: url(../assets/images/icon-more.png) center 0 / auto 100%
        no-repeat;
    }

    &.btn-close {
      background: url(../assets/images/icon-rollup.png) center 0 / auto 100%
        no-repeat;
    }
  }

  .noData-wrap {
    .noData-text {
      width: 100%;
      text-align: center;
      font-size: 40px;
      line-height: 800px;
      color: #e7baff;
    }
  }
}
// 最强贡献
.contribute-content {
  .rank-content-td {
    .td:nth-child(1) {
      flex: 1;
      margin: 0 50px 0 20px;
    }
    .td:nth-child(2) {
      flex: 1;
      text-align: left;
      margin-right: 30px;
      margin-left: -20px;
    }
    .td:nth-child(3) {
      flex: 2.5;
      text-align: left;
    }
    .td:nth-child(4) {
      flex: 1.5;
      margin-left: -40px;
    }
  }
}
</style>
