<template>
  <ul class="pk-list">
    <li class="pk-list-item" v-for="(item, index) in pkList" :key="index">
      <div class="pk-time">{{ index | pkTime }}</div>
      <div class="livers">
        <div class="left">
          <c-pk-liver :anchorInfo="item | anchorInfo(0)"></c-pk-liver>
        </div>
        <div class="right">
          <c-pk-liver :anchorInfo="item | anchorInfo(1)"></c-pk-liver>
        </div>
      </div>
      <div class="vs" v-if="item.firstScore || item.secondScore">VS</div>
      <div class="progress" v-if="item.firstScore || item.secondScore">
        <div class="progress-left" :style="{ flex: item.firstScore }"></div>
        <div class="progress-right" :style="{ flex: item.secondScore }"></div>
      </div>
    </li>
    <li v-if="!pkList || pkList.length == 0" class="noData-wrap">
      <div class="noData-text">
        {{ isRequesting ? "加载中" : "PK名单在相守当天12：00公布～" }}~
      </div>
    </li>
  </ul>
</template>

<script>
import coreBus from "@mi/milive-ui/utils/event-bus";
import { getPKList, leftPad, getWidgetPKList } from "../api";
import CPkLiver from "./c-pk-liver.vue";

export default {
  components: {
    CPkLiver,
  },
  data() {
    return {
      pkList: [],
      isRequesting: false,
    };
  },
  filters: {
    pkTime(index) {
      const startDate = new Date("2021/08/09 21:00");
      startDate.setMinutes(index * 10);
      const startStr = `${startDate.getHours()}:${leftPad(
        startDate.getMinutes()
      )}`;
      startDate.setMinutes((index + 1) * 10);
      const endStr = `${startDate.getHours()}:${leftPad(
        startDate.getMinutes()
      )}`;
      return `${startStr} - ${endStr}`;
    },
    anchorInfo(item, type) {
      if (type === 0) {
        return {
          avator: item.firstAvator,
          uid: item.firstId,
          name: item.firstName,
          roomId: item.firstRoomId,
          score: item.firstScore,
          pkStatus: item.pkStatus,
          showPKStatus: item.pkStatus > 0,
          pkStatusClass:
            item.firstScore == item.secondScore
              ? "draw"
              : item.firstScore > item.secondScore
              ? "success"
              : "fail",
        };
      } else {
        return {
          avator: item.secondAvator,
          uid: item.secondId,
          name: item.secondName,
          roomId: item.secondRoomId,
          score: item.secondScore,
          pkStatus: item.pkStatus,
          showPKStatus: item.pkStatus > 0,
          pkStatusClass:
            item.firstScore == item.secondScore
              ? "draw"
              : item.firstScore < item.secondScore
              ? "success"
              : "fail",
        };
      }
    },
  },
  created() {
    coreBus.$on("changeTab", this._getPKList);
  },
  methods: {
    async _getPKList(tab) {
      if (!tab.isPK) return;
      this.isRequesting = true;
      let res = await getWidgetPKList();
      this.isRequesting = false;
      if (res.code === 0) {
        this.pkList = res.data.PkList;
        //  res.data.groups.sort(
        //   // 哎
        //   (item1, item2) => item1.groupNum - item2.groupNum
        // );
      } else if (res.code === 1001) {
        this.pkList = [];
      }
    },
  },
  destroyed() {
    coreBus.$off("changeTab", this._getPKList);
  },
};
</script>

<style lang="scss" scoped>
.pk-list {
  background: rgba($color: #a900ff, $alpha: 0.54);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: MI Lan Pro;
  border-radius: 0 0 10px 10px;
  &-item {
    width: 913px;
    position: relative;

    margin-bottom: 59px;
    .pk-time {
      position: absolute;
      top: -10px;
      left: calc(50% - 153px);
      width: 306px;
      height: 65px;
      z-index: 2;
      background: url(../assets/images/bg-pktime.png) 0 0 / 100% auto no-repeat;
      font-size: 34px;
      font-weight: 600;
      color: #150034;
      line-height: 60px;
      text-align: center;
    }
    .livers {
      display: flex;
      justify-content: space-between;
      border-radius: 20px 20px 0 0;
      overflow: hidden;
      background-color: #a23eff;
      .left,
      .right {
        width: 454px;
        position: relative;
        font-size: 36px;
        font-weight: 500;
        color: #f7e7ff;
        text-align: center;
      }
    }
    .vs {
      position: absolute;
      top: 350px;
      left: calc(50% - 43px);
      width: 86px;
      height: 52px;
      font-size: 70px;
      font-weight: bold;
      font-style: italic;
      color: #ffffff;
      line-height: 171px;
    }
    .progress {
      width: 100%;
      height: 14px;
      display: flex;
      &-left {
        width: 913px;
        height: inherit;
        background: #ffea75;
      }
      &-right {
        width: 463px;
        height: inherit;
        background: #ff59ab;
      }
    }
  }
  .noData-wrap {
    .noData-text {
      width: 100%;
      text-align: center;
      font-size: 40px;
      line-height: 800px;
      color: #e7baff;
    }
  }
}
</style>
