<template>
  <div class="router-btn" :style="btnStyle">
    <slot></slot>
  </div>
</template>

<script>
export default {
  props: {
    styleObject: {
      type: Object,
      default: {},
    },
  },
  data() {
    return {
      defaultStyle: {
        color: "#09102E",
        backgroundColor: "#FDCDFF",
        top: "0.34vw",
        right: 0,
      },
    };
  },
  computed: {
    btnStyle() {
      return Object.assign(this.defaultStyle, this.styleObject);
    },
  },
};
</script>

<style scoped>
.router-btn {
  position: absolute;
  padding: 0 22px;
  height: 64px;
  font-size: 33px;
  font-family: MI Lan Pro;
  font-weight: 400;
  color: #09102e;
  line-height: 64px;
  text-align: center;
  border-radius: 32px 0 0 32px;
}
</style>
