<template>
  <div class="tab" v-if="tabData.length">
    <header class="tab-header"></header>
    <div class="tab-content">
      <ul class="main-tab">
        <li
          class="tab-item"
          :class="
            selectIndex === index
              ? tabData[selectIndex].secondaryTab
                ? 'select triangle'
                : 'select'
              : ''
          "
          v-for="(item, index) in tabData"
          :key="item.rank"
          @click="selectMainTab(item, index)"
        >
          <div class="name">{{ item.name }}</div>
          <div class="step">{{ item.mainTitle }}</div>
          <div class="time">{{ item.time }}</div>
        </li>
      </ul>
      <ul class="secondary-tab" v-if="tabData[selectIndex].secondaryTab">
        <li
          class="tab-item"
          :class="{ select: secondarySelect === index }"
          v-for="(item, index) in tabData[selectIndex].secondaryTab"
          :key="item.id"
          @click="selectSecondaryTab(item, index)"
        >
          <div class="title1">{{ item.mainTitle }}</div>
          <div class="title2" v-if="item.time">
            {{ item.time }}
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { getStageInfo } from "../api";
import api from "../api";
import {
  getTodayTab,
  getPkTab,
  changeTabDateWithStartTime,
} from "../config/tabData";
import coreBus from "@mi/milive-ui/utils/event-bus";

export default {
  data() {
    return {
      tabData: [],
      selectIndex: 0,
      secondarySelect: 0,
      todayTab: {},
    };
  },
  watch: {},
  mounted() {
    this.getCurrentTab();
  },
  methods: {
    async getCurrentTab() {
      const res = await getStageInfo();
      if (res.code == 0) {
        this.tabData = changeTabDateWithStartTime(res.data.startTime);
        let todayTab = getTodayTab(res.data.stage);
        this.selectIndex = todayTab.mainIndex;
        this.secondarySelect = todayTab.secondaryIndex;
        this.todayTab = todayTab;
        if (api.showPk) {
          let tab = getPkTab();
          this.selectIndex = tab.mainIndex;
          this.secondarySelect = tab.secondaryIndex;
          coreBus.$emit("changeTab", tab);
        } else {
          this.sendChangeTabEmit();
        }
      }
    },
    selectMainTab(item, index) {
      if (this.selectIndex === index) return;
      this.selectIndex = index;

      this.secondarySelect = 0; // todo
      this.sendChangeTabEmit();
    },
    selectSecondaryTab(item, index) {
      if (this.secondarySelect === index) return;
      this.secondarySelect = index;
      this.sendChangeTabEmit();
    },
    // 通知tab 更新了
    sendChangeTabEmit() {
      const item = this.tabData[this.selectIndex];
      console.log("qixi changeTab emit");
      if (!item.secondaryTab) {
        coreBus.$emit("changeTab", item, this.todayTab);
      } else {
        coreBus.$emit(
          "changeTab",
          item.secondaryTab[this.secondarySelect],
          this.todayTab
        );
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.tab {
  width: 100%;

  position: relative;
  margin-top: 50px;
  &-header {
    position: absolute;
    top: -40px;
    width: 100%;
    height: 92px;
    background: url("../assets/images/bg-header-tab.png") 0 0/100% no-repeat;
    z-index: 3;
  }
  &-content {
    margin: 0 auto;
    position: relative;
    padding-bottom: 40px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    background: rgba($color: #a900ff, $alpha: 0.54);
    font-family: MI Lan Pro;
    .main-tab {
      width: 100%;
      height: 170px;
      margin-top: 97px;
      background: rgba(191, 37, 255, 0.54);
      display: flex;
      justify-content: space-between;

      .tab-item {
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #faf0ff;
        .name {
          margin-top: 18px;
          font-size: 34px;
        }
        .step {
          margin-top: 12px;
          font-size: 35px;
          font-weight: 600;
          line-height: 45px;
        }
        .time {
          margin-top: 20px;
          font-size: 30px;
        }
      }
      .select {
        height: 110%;
        position: relative;
        top: -5%;
        background: linear-gradient(0, #ff59ab 0%, #ffcf63 100%);
        color: #180337;
        &.triangle::before {
          content: "";
          position: absolute;
          bottom: -38px;
          left: calc(50% - 30px);
          border-top-color: #ff59af;
          border-right-color: transparent;
          border-bottom-color: transparent;
          border-left-color: transparent;
          border-width: 20px 30px;
          border-style: solid;
        }
      }
    }
    .secondary-tab {
      margin: 62px 0 0 40px;
      width: 916px;
      height: 115px;
      border: 3px solid #c66af7;
      border-radius: 12px;
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      .tab-item {
        flex: 1;
        height: 100%;
        text-align: center;
        color: #e7baff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .title1 {
          font-size: 35px;
          font-weight: 600;
        }
        .title2 {
          margin-top: 12px;
          font-size: 30px;
          font-weight: 400;
        }
      }
      .select {
        background: linear-gradient(-38deg, #ff59ab 0%, #ffcf63 100%);
        color: #180337;
      }
    }
  }
}
.webps .tab {
  &-header {
    background: url("../assets/images/bg-header-tab.webp") 0 0/100% no-repeat;
  }
}
</style>
