<template>
  <div class="bg">
    <div
      class="hit_time"
      v-if="double == 0 && acceptCnt <= stepArr[stepArr.length - 1]"
    >
      距离宝箱甜蜜时刻还差<span class="hit_count"> {{ leftTime() }} </span>次
    </div>
    <div class="hit_time" v-else-if="double != 0">
      甜蜜时刻倒计时 {{ countdown() }}
    </div>
    <div class="hit_time" v-else></div>
    <div class="treasure_box" v-if="!lock"></div>
    <div class="lottie" v-show="lock"></div>
    <div
      :class="['open_box', double == 0 ? '' : 'box_db']"
      @click="confirm"
    ></div>
    <div class="open_counts">我已开启{{ acceptCnt }}次</div>
    <div
      class="dim_back"
      v-if="isOpenBox || payDone || noMoney"
      @touchmove.prevent
    >
      <div class="ensure_open_box" v-if="isOpenBox">
        <div class="eob1">开启宝箱</div>
        <div class="eob2">确定花费77钻开启？</div>
        <div class="eob3">
          <div class="eob3_text" @click="closeBox">取消</div>
        </div>
        <div class="eob4">
          <div class="eob4_text" @click="lottery">确定</div>
        </div>
        <div class="close1" @click="closeBox()"></div>
      </div>

      <div class="ensure_pay_done" v-if="payDone">
        <div class="epd1">恭喜您获得</div>
        <div
          class="epd2"
          :style="{ backgroundImage: `url(${gift.giftUrl})` }"
        ></div>
        <div class="epd3">
          {{ gift.giftName }} X {{ gift.giftNum }}【{{ gift.giftDays }}天】
        </div>
        <div class="epd4">礼物已下发至礼包，请查收~</div>
        <div class="epd5" @click="closeBox">知道了</div>
        <div class="close2" @click="closeBox"></div>
      </div>

      <div class="no_money_tip" v-if="noMoney">
        <div class="tip_text1">很遗憾</div>
        <div class="tip_text2">您的余额不足，请先去充值吧</div>
        <div class="tip_text3">
          我的钻石：
          <div class="tip_icon1"></div>
          {{ money.gold }}
          <div class="tip_icon2"></div>
          {{ money.silver }}
        </div>
        <div class="tip_btn1" @click="closeBox">取消</div>
        <div class="tip_btn2" @click="closeBox">确认</div>
        <div class="close3" @click="closeBox"></div>
      </div>
    </div>
  </div>
</template>

<script>
import lottie from "../assets/js/lottie.js";
import box_d from "../assets/json/box_d.json";
import box_bd from "../assets/json/box_bd.json";
import { getLotteryCnt, lottery, checkIsLogin } from "../api";
import coreBus from "@mi/milive-ui/utils/event-bus";

export default {
  data() {
    return {
      stepArr: [213, 520, 999, 1314],
      first: true,
      isOpenBox: false,
      payDone: false,
      double: 0,
      acceptCnt: 0,
      gift: {},
      lock: false,
      interval: null,
      money: { gold: 0, silver: 0 },
      noMoney: false,
    };
  },
  created: function() {},
  mounted() {
    if (checkIsLogin()) {
      this._getLotteryCnt();
    }
  },
  methods: {
    leftTime() {
      // const stepArr = [213,520,999,1314];
      // const stepArr = [10,20,30,40];
      let findStep = this.stepArr.find((item) => this.acceptCnt <= item);
      return findStep ? findStep - this.acceptCnt : "--";

      // if (this.acceptCnt <= 213) {
      //   return 213 - this.acceptCnt;
      // } else if (this.acceptCnt <= 520) {
      //   return 520 - this.acceptCnt;
      // } else if (this.acceptCnt <= 999) {
      //   return 999 - this.acceptCnt;
      // } else if (this.acceptCnt <= 1314) {
      //   return 1314 - this.acceptCnt;
      // } else {
      //   return "--";
      // }
    },
    countdown() {
      let ms = parseInt(this.double / 1000);
      let minute = parseInt(ms / 60);
      let second = ms % 60;
      if (minute < 10) {
        minute = "0" + minute;
      }
      if (second < 10) {
        second = "0" + second;
      }
      return `${minute}:${second}`;
    },
    async lottery() {
      if (this.lock) {
        return;
      }
      this.loadAnimation();
      this.lock = true;
      let resp = await lottery();
      if (resp.code == 0) {
        this.gift = resp.data.lottery[0];
        this.isOpenBox = false;
        setTimeout(() => {
          this._getLotteryCnt();
          this.payDone = true;
          this.lock = false;
          lottie.destroy();
        }, 1000);
      } else if (resp.code == 6) {
        this.isOpenBox = false;
        this.money.gold = resp.data.goldGemCnt;
        this.money.silver = resp.data.silverGemCnt;
        this.noMoney = true;
        this.lock = false;
        lottie.destroy();
      }
    },
    async _getLotteryCnt() {
      let resp = await getLotteryCnt();
      if (resp.code === 0) {
        this.acceptCnt = resp.data.acceptCnt;
        this.double = resp.data.doubleTime ? resp.data.doubleTime : 0;
        this.loadAnimation();
        if (this.double > 0) {
          clearInterval(this.interval);
          this.interval = setInterval(() => {
            if (this.double > 0) {
              this.double = this.double - 1000;
            } else {
              this.double = 0;
              this.loadAnimation();
              clearInterval(this.interval);
            }
          }, 1000);
        }
      }
    },

    confirm() {
      if (checkIsLogin()) {
        if (this.first) {
          this.first = false;
          this.isOpenBox = true;
        } else {
          this.lottery();
        }
      } else {
        coreBus.$emit("MiLive-UI:tips", {
          msg: "请先登录哦~",
        });
      }
    },

    closeBox() {
      this.isOpenBox = false;
      this.payDone = false;
      this.noMoney = false;
    },

    loadAnimation() {
      lottie.destroy();
      if (this.double > 0) {
        lottie.loadAnimation({
          container: document.getElementsByClassName("lottie")[0], // the dom element that will contain the animation
          renderer: "svg",
          loop: true,
          autoplay: true,
          assetsPath: "./static/images/",
          animationData: box_d, // the path to the animation json
        });
      } else {
        lottie.loadAnimation({
          container: document.getElementsByClassName("lottie")[0], // the dom element that will contain the animation
          renderer: "svg",
          loop: true,
          autoplay: true,
          assetsPath: "./static/images_bd/",
          animationData: box_bd, // the path to the animation json
        });
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.bg {
  width: 1007px;
  height: 1340px;
  margin: auto;
  background: url(../assets/images/open_box_img/bg.png) 0 0 / 100% auto
    no-repeat;
  overflow: hidden;
  position: relative;
  .hit_time {
    text-align: center;
    height: 59px;
    margin: 575px auto 0px auto;
    font-size: 38px;
    font-weight: 500;
    line-height: 59px;
    letter-spacing: 3px;
    color: rgba(255, 255, 255, 1);
    .hit_count {
      font-size: 55px;
      color: rgba(255, 234, 117, 1);
    }
  }
  .treasure_box {
    width: 522px;
    height: 365px;
    margin: 46px auto 0;
    background: url(../assets/images/open_box_img/box.png) center / contain
      no-repeat;
  }
  .open_box {
    width: 484px;
    height: 126px;
    position: absolute;
    bottom: 132px;
    left: 260px;
    background: url(../assets/images/open_box_img/button.png) 0 0 / 100% auto
      no-repeat;
  }
  .box_db {
    background: url(../assets/images/open_box_img/button-db.png) 0 0 / 100% auto
      no-repeat;
  }
  .open_counts {
    position: absolute;
    bottom: 79px;
    text-align: center;
    height: 32px;
    font-size: 34px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 3px;
    width: 100%;
    color: #ffffff;
  }
}
.lottie {
  height: 460px;
}
.ensure_open_box {
  width: 890px;
  height: 705px;
  background: #ffffff;
  border-radius: 29px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.eob1 {
  width: 270px;
  height: 98px;
  margin: 98px auto 0px auto;
  font-size: 60px;
  font-family: MI Lan Pro;
  font-weight: 600;
  color: #150034;
  line-height: 98px;
}
.eob2 {
  width: 495px;
  height: 45px;
  font-size: 48px;
  font-weight: 549;
  letter-spacing: 2px;
  margin: 131px auto 0px auto;
}
.eob3 {
  width: 300px;
  height: 125px;
  margin: 147px auto 0px 111px;
  border: 2px solid #150034;
  border-radius: 63px;
}
.eob3_text {
  width: 124px;
  height: 42px;
  margin: 42px auto 0px auto;
  text-align: center;
  font-size: 42px;
  font-weight: bold;
  color: #150034;
  letter-spacing: 4px;
  line-height: 42px;
}
.eob4 {
  width: 300px;
  height: 125px;
  margin: -125px 104px auto auto;
  overflow: hidden;
  background: linear-gradient(89deg, #f15bff 0%, #ff73ba 100%);
  border-radius: 63px;
}
.eob4_text {
  width: 124px;
  height: 42px;
  margin: 42px auto 0px auto;
  text-align: center;
  font-size: 42px;
  font-weight: bold;
  color: #150034;
  letter-spacing: 4px;
  line-height: 42px;
}
.ensure_pay_done {
  width: 890px;
  height: 999px;
  background: #ffffff;
  border-radius: 29px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.epd1 {
  width: 337px;
  height: 54px;
  margin: 61px auto 0px auto;
  text-align: center;
  font-size: 60px;
  font-family: MI Lan Pro;
  font-weight: 600;
  color: #150034;
  line-height: 54px;
}
.epd2 {
  width: 352px;
  height: 274px;
  margin: 92px auto 0px auto;
  // position 后跟 img_size 用 '/'分割 contain宽沾满 cover保证宽高比
  background-repeat: no-repeat;
  background-size: contain;
}
.epd3 {
  //   width: 166px;
  text-align: center;
  height: 48px;
  margin: 56px auto 0px auto;
  font-size: 48px;
  font-family: MI Lan Pro;
  font-weight: 400;
  color: #150034;
  line-height: 48px;
}
.epd4 {
  width: 469px;
  height: 36px;
  margin: 99px auto 0 auto;
  font-size: 36px;
  font-family: MI;
  font-weight: normal;
  color: #150034;
  line-height: 36px;
  opacity: 0.8;
}
.epd5 {
  text-align: center;
  width: 401px;
  height: 125px;
  margin: 51px auto 0px auto;
  // 设置线性渐变
  background: linear-gradient(89deg, #f15bff 0%, #ff73ba 100%);
  line-height: 125px;
  border-radius: 63px;
  font-size: 40px;
  font-weight: 400;
  color: #150034;
}
.dim_back {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  //图层设置 值越大优先级越高
  z-index: 10;
}
.no_money_tip {
  width: 890px;
  height: 873px;
  background: #ffffff;
  border-radius: 29px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  .tip_text1 {
    position: absolute;
    top: 62px;
    width: 100%;
    height: 54px;
    font-size: 60px;
    font-weight: 600;
    color: #150034;
    line-height: 54px;
    text-align: center;
  }
  .tip_text2 {
    position: absolute;
    width: 100%;
    top: 247px;
    text-align: center;
    height: 48px;
    font-size: 48px;
    font-weight: 400;
    color: #150034;
    line-height: 48px;
  }
  .tip_text3 {
    position: absolute;
    width: 100%;
    top: 340px;
    text-align: center;
    height: 48px;
    font-size: 48px;
    font-weight: 400;
    color: #150034;
    line-height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    .tip_icon1 {
      width: 48px;
      height: 36px;
      background: url("../assets/images/open_box_img/gold_icon.png")
        center/contain no-repeat;
      margin-right: 10px;
    }
    .tip_icon2 {
      width: 48px;
      height: 36px;
      background: url("../assets/images/open_box_img/silver_icon.png")
        center/contain no-repeat;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  .tip_btn1 {
    position: absolute;
    bottom: 84px;
    left: 111px;
    width: 300px;
    height: 125px;
    border: 2px solid #150034;
    border-radius: 63px;
    line-height: 125px;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
  }
  .tip_btn2 {
    position: absolute;
    bottom: 84px;
    right: 105px;
    width: 300px;
    height: 125px;
    background: linear-gradient(89deg, #d65bff 0%, #ff73ba 100%);
    border-radius: 63px;
    line-height: 125px;
    font-size: 48px;
    text-align: center;
    font-weight: 600;
  }
  .close3 {
    width: 72px;
    height: 72px;
    margin-left: 408px;
    transform: translateY(971px);
    background: url(../../__commonDemo/assets/images/close.png) 0 0 / 100% auto
      no-repeat;
  }
}
.close1 {
  width: 72px;
  height: 72px;
  margin-left: 408px;
  transform: translateY(100px);
  background: url(../../__commonDemo/assets/images/close.png) 0 0 / 100% auto
    no-repeat;
}
.close2 {
  width: 72px;
  height: 72px;
  margin-left: 408px;
  transform: translateY(190px);
  background: url(../../__commonDemo/assets/images/close.png) 0 0 / 100% auto
    no-repeat;
}

.webps {
  .bg {
    background: url(../assets/images/open_box_img/bg.webp) 0 0 / 100% auto
      no-repeat;
  }
  .treasure_box {
    background: url(../assets/images/open_box_img/box.webp) center / contain
      no-repeat;
  }
}
</style>
